<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Relationship Politics">
    <meta name="author" content="Yu-Hwei Chou">
    <link rel="icon" href="{% static "relpolapp/pictures/favicon.ico" %}">

    <!-- This doesn't work when placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- Bootstrap core CSS -->
<link href="{% static "relpolapp/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- script for updating active link in navbar -->
<script>

var loc_name = location.pathname;

var dotIndex = loc_name.indexOf('.');

var pName = loc_name.substring(0,dotIndex);
$('.actlink').toggleClass("active",function(){
    if (pName === $(this).attr('href'))
    {
        return True;
    }
    return False;
}
    );
</script>


    <title>Relationship Politics</title>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    [endif]-->

    <!-- Custom styles for this template -->
    <link href="{% static "relpolapp/carousel.css" %}" rel="stylesheet">
    <style>
        .navbar-nav li.welcome-user {
            position: absolute;
            right:20px;}
        html{
            position: relative;
            min-height: 100%;
            }
        body{
            margin-bottom:60px;
            }
        .footer {
          position: absolute;
          bottom: 0;
          width: 100%;
          /* Set the fixed height of the footer here */
          height: 60px;
          background-color: #f5f5f5;
                }
    </style>

    {% block head %}
    {% endblock %}
  </head>
<!-- NAVBAR
================================================== -->
  <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand actlink" href="{% url 'relpolapp:login' %}">Login</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active actlink"><a href="{% url 'relpolapp:index' %}">Home</a></li>
                <li class="actlink"><a href="#about">About</a></li>
                <li class="actlink"><a href="#contact">Contact</a></li>
                <li class="dropdown actlink">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
                <li class="welcome-user"><a href="profile">Welcome!</a></li>
              </ul>
            </div>
          </div>
        </nav>

        {% block maincontent %}
        {% endblock %}

     <footer class="footer">
      <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Relationship Politics &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </div>
    </footer>
</body>
</html>
