{% extends 'relpolapp/base.html' %}
{% block head %}
<style>
    .container-marketing{
        position:relative;
        top: 150px;
        left: 80px;
        }
    .inputbutton
    {
        margin-left:auto;
    }
</style>
{% endblock %}
{% load staticfiles %}
{% block maincontent %}

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container-marketing" >

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
           <form action="" method="post">{% csrf_token %}
               {{ form.as_p }}
           <input class=inputbutton type="submit" value="Login" />
           </form>
        </div><!-- /.col-lg-4 -->
        </div>


    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "relpolapp/assets/js/ie10-viewport-bug-workaround.js" %}"></script>
    {% endblock %}
